<p><meta charset="utf-8"></p>
<p><meta name="keywords" content="react,angualr,ng-if,ngif,ng-switch,ng-switch-when" /></p>
<p><meta name="description" content="html" /></p>
<p><meta name="viewport" content="width=device-width"></p>
<p><link rel="stylesheet" href="./../../stylesheets/styles.css"></p>
<p><link rel="stylesheet" href="./../../stylesheets/github-light.css"></p>
<link rel="stylesheet" href="./../../stylesheets/core.css">

<!-- <link rel="stylesheet" href="http://files.cnblogs.com/whitewolf/screen.css"> -->
<p><style> body{width:1000px;margin: 0 auto;}</style></p>
<h3 id="angular-watch-">Angular 性能优化之 <em> $watch </em></h3>
<hr>
<p> <em>双向绑定是Angular的核心概念之一，它给我们带来了思维方式的转变：不再是DOM驱动，而是以Model为核心，在View中写上声明式标签。然后，Angular就会在后台默默的同步View的变化到Model，并将Model的变化更新到View。</em></p>
<p><em>双向绑定带来了很大的好处，但是它需要在后台保持一只“眼睛”，随时观察所有绑定值的改变，这就是Angular 1.x中“性能杀手”的“脏检查机制”($digest)。可以推论：如果有太多“眼睛”，就会产生性能问题。在讨论优化Angular的性能之前，笔者希望先讲解下Angular的双向绑定和watchers函数。</em></p>
<hr>
<h4 id="-watchers-">双向绑定和watchers函数</h4>
<p>为了能够实现双向绑定，Angular使用了$watch API来监控$scope上的Model的改变。Angular应用在编译模板的时候，会收集模板上的声明式标签 —— 指令或绑定表达式，并链接（link）它们。这个过程中，指令或绑定表达式会注册自己的监控函数，这就是我们所说的watchers函数。</p>
<p>下面以我们常见的Angular表达式（{{}}）为例。</p>
<p>HTML:</p>
<pre><code>&lt;body ng-app=&quot;com.ngnice.app&quot; ng-controller=&quot;DemoController as demo&quot;&gt;
    &lt;div&gt;hello : {{demo.count}}&lt;/div&gt;
    &lt;button type=&quot;button&quot; ng-click=&quot;demo.increase ();&quot;&gt;increase ++&lt;/button&gt;
&lt;/body&gt;
</code></pre><p>JavaScript:</p>
<pre><code class="lang-JavaScript">angular.module(&#39;com.ngnice.app&#39;)
.controller(&#39;DemoController&#39;, [function() {
  var vm = this;
  vm.count = 0;
  vm.increase = function() {
    vm.count++;
  };
  return vm;
}]);
</code></pre>
<hr>
<h4 id="-digest-">$digest循环（“脏检查机制”）</h4>
<ul>
<li><p>这是一个自增长计数器的例子，在上面的代码我们用了Angular表达式（{{}}）。表达式为了能在Model的值改变的时候你能及时更新View，它会在其所在的$scope（本例中为DemoController）中注册上面提到的watchers函数，监控count属性的变化，以便及时更新View。</p>
</li>
<li><p>当每次点击button的时候，count计数器将会加1，然后count的变化会通过Angular的<strong>$digest</strong>过程同步到View之上。在这里它是一个<strong>单向的更新</strong>，从Model到View的更新。<strong>如果处理一个带有ngModel指令的input交互控件，则在View上的每次输入都会被及时更新到Model之上，这里则是反向的更新，从View到Model的更新。</strong></p>
</li>
<li><p>Model数据能被更新到View是因为在背后默默工作的<strong>$digest循环（“脏检查机制”）被触发了</strong>。它会执行当前scope以及其所有子scope上注册的<strong>watchers函数</strong>，检测是否发生变化，如果变了就执行相应的处理函数，直到Model稳定了。如果这个过程中发生过变化，浏览器就会重新渲染受到影响的DOM来体现Model的变化。</p>
</li>
</ul>
<h4 id="-angular-">在Angular表达式（{{}}）的源码如下：</h4>
<hr>
<pre><code class="lang-JavaScript">function collectDirectives(node, directives, attrs, maxPriority, ignoreDirective) {
  var nodeType = node.nodeType,
    attrsMap = attrs.$attr,
    match,
    className;
  switch (nodeType) {
    case 1:
      /* Element */
      ...
      break;
    case 3:
      /* Text Node */
      addTextInterpolateDirective(directives, node.nodeValue);
      break;
    case 8:
      /* Comment */
      ...
      break;
  }
  directives.sort(byPriority);
  return directives;
}
function addTextInterpolateDirective(directives, text) {
  var interpolateFn = $interpolate(text, true);
  if (interpolateFn) {
    directives.push({
      priority: 0,
      compile: function textInterpolateCompileFn(templateNode) {
        // when transcluding a template that has bindings in the root
        // then we don&#39;t have a parent and should do this in the linkFn
        var parent = templateNode.parent(),
          hasCompileParent = parent.length;
        if (hasCompileParent) safeAddClass(templateNode.parent(), &#39;ng-binding&#39;);
        return function textInterpolateLinkFn(scope, node) {
          var parent = node.parent(),
            bindings = parent.data(&#39;$binding&#39;) || [];
          bindings.push(interpolateFn);
          parent.data(&#39;$binding&#39;, bindings);
          if (!hasCompileParent) safeAddClass(parent, &#39;ng-binding&#39;);
          scope.$watch(interpolateFn, function interpolateFnWatchAction(value) {
            node[0].nodeValue = value;
          });
        };
      }
    });
  }
}
</code></pre>
<p><em>Angular会在compile阶段收集View模板上的所有Directive。Angular表达式会被解析成一种<strong>特殊的指令：addTextInterpolateDirective。</strong>到了link阶段，就会利用scope.$watch的API注册我们在上面提到的watchers函数：它的求值函数为<strong>$interpolate(插入，篡改)</strong>对绑定表达式进行编译的结果，监听函数则是用新的表达式计算值去修改DOM Node的nodeValue。<strong>可见，在View中的Angular表达式，也会成为Angular在$digest循环中watchers的一员</strong>。</em></p>
<p>在上面代码中，还有一部分是为了给调试器用的。它会在Angular表达式所属的DOM节点加上名为‘ng-binding’的调试类。类似的调试类还有‘ng-scope’，‘ng-isolate-scope’等。</p>
<p>在Angular <strong>1.3中我们可以使用compileProvider服务来关闭这些调试信息。</strong></p>
<pre><code class="lang-JavaScript">app.config([&#39;$compileProvider&#39;, function ($compileProvider) {
  // disable debug info
  $compileProvider.debugInfoEnabled(false);
}]);
</code></pre>
<hr>
<h4 id="-watchers-">其它指令中的watchers函数</h4>
<p><strong>不仅Angular的表达式会使用$scope.$watch API添加watchers，Angular内置的大部分指令也一样，下面再举几个常用的Angular指令。</strong></p>
<ul>
<li><p>ngBind：它和Angular表达式很类似，都是绑定特定表达式的值到DOM的内容，并保持与scope的同步。不同之处在于它需要一个HTML节点并以attribute属性的方式标记。简单来说，我们可以认为Angular表达式就是ngBind的特定语法糖。当然，还是有一点区别的，<strong>“使用技巧”一章的“防止Angular表达式闪烁”</strong>。</p>
<pre><code class="lang-JavaScript">// 很流弊，很简单的处理：
var ngBindDirective = ngDirective({
compile: function(templateElement) {
  templateElement.addClass(&#39;ng-binding&#39;);
  return function (scope, element, attr) {
    element.data(&#39;$binding&#39;, attr.ngBind);
    scope.$watch(attr.ngBind, function ngBindWatchAction(value) {
      // We are purposefully using == here rather than === because we want to
      // catch when value is &quot;null or undefined&quot;
      // jshint -W041
      element.text(value == undefined ? &#39;&#39; : value);
    });
  };
}
});
</code></pre>
<p><em>这里也能清晰的看见$scope.$watch的注册代码：监控器函数为ngBind attribute的值，处理函数则是用表达式计算的结果去更新DOM的文本内容。</em></p>
</li>
<li><p>ngShow/ngHide: 它们是根据表达式的计算结果来控制显示/隐藏DOM节点的指令。</p>
<pre><code class="lang-JavaScript">var ngShowDirective = [&#39;$animate&#39;, function($animate) {
return function(scope, element, attr) {
  scope.$watch(attr.ngShow, function ngShowWatchAction(value){
    $animate[toBoolean(value) ? &#39;removeClass&#39; : &#39;addClass&#39;](element, &#39;ng-hide&#39;);
  });
};
}];
var ngHideDirective = [&#39;$animate&#39;, function($animate) {
return function(scope, element, attr) {
  scope.$watch(attr.ngHide, function ngHideWatchAction(value){
    $animate[toBoolean(value) ? &#39;addClass&#39; : &#39;removeClass&#39;](element, &#39;ng-hide&#39;);
  });
};
// 上面的代码，是不感觉。不是很难，你也应该没问题吧！
</code></pre>
<p>这里同样用到了$scope.$watch，到这里你应该明白$watch的工作原理了吧。</p>
</li>
</ul>
<hr>
<p>如果有太多watcher函数，那么在每次$digest循环时，肯定会慢下来，<strong>这就是Angular“脏检查机制”的性能瓶颈。</strong>在社区中有个经验值，如果超过2000个watcher，就可能感觉到明显的卡顿，特别在IE8这种老旧浏览器上。有什么好的方案可以解决这个问题呢？</p>
<p><strong>最明显的方案是：减少$watch,尽量移除不必要的$watch。</strong></p>
<h4 id="-watch-">慎用$watch和及时销毁</h4>
<p><strong>要想提高Angular页面的性能，那么在开发的时候，就应该尽量减少显式使用$scope.$watch函数，Angular中的很多内置指令已经能够满足大部分的业务需求。特别是如果能复用ng内置的UI事件指令（ngChange、ngClick…），那么就不要添加额外的$watch。</strong></p>
<pre><code class="lang-JavaScript">对于不再使用的$watch，最好尽早将其释放，$scope.$watch函数的返回值就是用于释放这个watcher的函数，如下面的单次绑定实现（one-time）：
angular.module(&#39;com.ngnice.app&#39;)
.controller(&#39;DemoController&#39;, [&#39;$scope&#39;, function($scope) {
  var vm = this;
  vm.count = 0;
  var textWatch = $scope.$watch(&#39;demo.updated&#39;, function(newVal, oldVal) {
    if (newVal !== oldVal) {
      vm.count++;
      textWatch();
    }
  });
  return vm;
}]);
</code></pre>
<p>one-time绑定</p>
<p>在开发中，经常会遇见很多有静态数据构成的页面，如静态的商品，常规的Angular方案应该是用ng-repeat来产生这个列表：</p>
<p>HTML：</p>
<pre><code class="lang-HTML">&lt;ul&gt;
    &lt;li ng-repeat=&quot;project in projects&quot;&gt;
        &lt;div class=&quot;info&quot;&gt;
            {{project.name}} - {{project.room}} - {{project.hour}} - {{project.speaker}}
        &lt;/div&gt;
        &lt;div class=&quot;likes&quot;&gt;
            {{project.likes}} likes!
            &lt;button ng-click=&quot;likePro(project)&quot;&gt;Like it!&lt;/button&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<p>JavaScript：</p>
<pre><code class="lang-JavaScript">angular.module(&#39;com.ngnice.app&#39;)
.controller(&#39;MainController&#39;, [&#39;$scope&#39;, function($scope) {
  $scope.projects = [...];
  $scope.likePro = function(project) {
    // Like the session
  }
}]);
</code></pre>
<p><strong>用Angular来实现这个需求，很简单。但假设这是一个大型的预约，一天会有300个projects。那么这里会产生多少个$watch？这里每个project有5个绑定，额外的ng-repeat一个。这将会产生1501个$watch。这有什么问题？每次用户“like”一个project，Angular将会去检查name、room等5个属性是不是被改变了</strong>。</p>
<p>问题在于，除了例外的“like”外，所有数据都是静态数据，这是不是有点浪费资源？我们知道数据Model是没有被改变的，既然这样为什么让Angular要去检查是否改变呢？</p>
<p>因此，这里的$watch是没必要的，它的存在反而会影响$digest的性能，但这个$watch在第一次却是必要的，它在初始化时用静态信息填充了我们的DOM结构。</p>
<p><strong>对于这类情况，如果能换为单次（one-time）绑定应该是最佳的方案。</strong></p>
<h5 id="angular-one-time-1-3-">Angular中的单次（one-time）绑定是在1.3后引入的。在官方文档描述如下：</h5>
<pre><code>单次表达式在第一次$digest完成后，将不再计算（监测属性的变化）。
</code></pre><p><em>1.3中为Angular表达式（{{}}）引入了新语法，以“::”作为前缀的表达式为one-time绑定。对于上面的例子可以改为：</em></p>
<pre><code class="lang-HTML">&lt;ul&gt;
    &lt;li ng-repeat=&quot;project in projects&quot;&gt;
        &lt;div class=&quot;info&quot;&gt;
            {{::project.name}} - {{::project.room}} - {{::project.hour}} - {{::project.speaker}}
        &lt;/div&gt;
        &lt;div class=&quot;likes&quot;&gt;
            {{project.likes}} likes!
            &lt;button ng-click=&quot;likePro(project)&quot;&gt;Like it!&lt;/button&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<p>在1.3之前的版本没有提供这个语法，我们应该如何实现one-time绑定呢？在开源社区中有个牛人在我们之前也问了自己这个问题，并创建了一系列指令来实现它：Bindonce  <a href="https://github.com/Pasvaz/bindonce" title="Bindonce">https://github.com/Pasvaz/bindonce</a>。用Bindonce实现如下：</p>
<pre><code class="lang-HTML">&lt;ul&gt;
    &lt;li bindonce ng-repeat=&quot;project in projects&quot;&gt;
        &lt;div class=&quot;info&quot;&gt;
            &lt;span bo-text=&quot;project.name&quot;&gt;&lt;/span&gt; -
            &lt;span bo-text=&quot;project.room&quot;&gt;&lt;/span&gt; -
            &lt;span bo-text=&quot;project.hour&quot;&gt;&lt;/span&gt; -
            &lt;span bo-text=&quot;project.speaker&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;likes&quot;&gt;
            {{project.likes}} likes!
            &lt;button ng-click=&quot;likePro(project)&quot;&gt;Like it!&lt;/button&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<p><em>为了让示例能够工作，需要引入bindonce库，并依赖pasvaz.bindonce module。</em></p>
<pre><code>angular.module(&#39;com.ngnice.app&#39;, [&#39;pasvaz.bindonce&#39;]);
</code></pre><p><em>并把Angular表达式改成bo-text指令。该指令将会绑定到Model，直到更新DOM，然后自动释放watcher。这样，显示功能仍然工作，但不再使用不必要的$watch。在这里每个Session只有一个$watch绑定，用301个绑定替代了1501个绑定。</em></p>
<p><strong>恰当的使用bindonce或者1.3的one-time绑定能为应用one程序减少大量不必要$watch绑定，从而提高应用性能。</strong></p>
